body {
	background: url("https://i.imgur.com/TjSRIks.jpg");	
	background-size: cover;
	background-repeat: no-repeat;
	text-align: left;
	font-family: Helvetica;
	color: #000;
}


h1 { 
	font-size: 30px;
 }

 p {
 	font-size: 20px;
 }

 q {
 	font-style: italic;
}

 hr {
 	width: 200px;
 }
