body {
	background: url("http://imgur.com/a/bvjUU");	
	background-size: cover;
	text-align: left;
	font-family: Helvetica;
	color: #000;
}


h1 { 
	font-size: 30px;
 }

 p {
 	font-size: 20px;
 }

 q {
 	font-style: italic;
}

 hr {
 	width: 200px;
 }